spring:
  application:
    name: DataDrift
  datasource:
    url: jdbc:postgresql://localhost:5432/datadrift
    username: datadrift
    password: datadrift
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: false
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
  flyway:
    locations: classpath:db/migration
    baseline-on-migrate: true

server:
  port: 8080

logging:
  level:
    com.datadrift: INFO
    org.hibernate.SQL: WARN
